@require 'swatch/*'

$color__black                 = #000000
$color__white                 = #ffffff


$color__primary               = $color__indigo--500
$color__primary--100          = $color__indigo--100
$color__primary--500          = $color__indigo--500
$color__primary--700          = $color__indigo--700

$color__accent                = $color__pink--A200
$color__accent--100           = $color__pink--A100
$color__accent--200           = $color__pink--A200
$color__accent--400           = $color__pink--A400

$color__error                 = #de3226


$color__text                  = rgba(0,0,0,.87)
$color__disabled-text         = rgba(0,0,0,.26)
$color__secondary-text        = rgba(0,0,0,.54)
$color__icon                  = rgba(0,0,0,.54)
$color__disabled              = rgba(0,0,0,.38)
$color__hint-text             = rgba(0,0,0,.38)
$color__divider               = rgba(0,0,0,.12)

$color__text--dark            = rgba(255,255,255,1)
$color__disabled-text--dark   = rgba(255,255,255,.3)
$color__secondary-text--dark  = rgba(255,255,255,.7)
$color__icon--dark            = rgba(255,255,255,.7)
$color__disabled--dark        = rgba(255,255,255,.3)
$color__hint-text--dark       = rgba(255,255,255,.3)
$color__divider--dark         = rgba(255,255,255,.12)