$font__family                 = 'Roboto', 'Helvetica', 'Arial', sans-serif

$font__button--size           = 14px
$font__button--weight         = 500

$font__caption--size          = 12px
$font__caption--weight        = 400

$font__body--size             = 13px
$font__body--weight           = 400
$font__body--weight-2         = 500
$font__body--line-height      = 20px

$font__subheading--size       = 15px
$font__subheading--weight     = 400
$font__subheading--line-height= 24px

$font__title--size            = 20px
$font__title--weight          = 500

$font__headline--size         = 24px
$font__headline--weight       = 400
$font__headline--line-height  = 32px

$font__display-1--size        = 34px
$font__display-1--weight      = 400
$font__display-1--line-height = 40px

$font__display-2--size        = 45px
$font__display-2--weight      = 400
$font__display-2-line-height  = 48px

$font__display-3--size        = 56px
$font__display-3--weight      = 400

$font__display-4--size        = 112px
$font__display-4--weight      = 300




