/*************************************************************************
 * Normal Button
 ************************************************************************/
.mdui-button {
  // Adjustable
  min-width $button__min-width
  height $button__height
  line-height $button__height
  color $button__text-color
  background-color $button__background-color
  font-family $button__font-family
  font-weight $button__font-weight
  font-size $button__font-size
  // Fixed
  border none
  padding 0 16px
  border-radius 2px
  position relative
  display inline-block
  text-transform uppercase
  overflow hidden
  cursor pointer
  text-decoration none
  text-align center
  vertical-align middle
  box-sizing content-box
  box-shadow $shadow__dp0
  will-change box-shadow
  transition all 0.2s $easing__out-quad
  user-select none
  outline none
  appearance none
  -webkit-tap-highlight-color rgba(0,0,0,0)
  z-index 1

}
.mdui-button__text {
  pointer-events none
  position relative
  // Adjustable
  top 1px
}
.mdui-button .material-icons {
  vertical-align middle
  position relative
  // Adjustable
  top -1px
}

// disabled
.mdui-state--disabled.mdui-button {
  // Adjustable
  color $button__disabled-text-color
  background-color $button__disabled-background-color
  // Fixed
  cursor default
  box-shadow $shadow__dp0
}

// pressed
.mdui-state--pressed.mdui-button {
  box-shadow $shadow__dp6
}


/**
 * Dark Theme
 */

.dark.mdui-button {
  // Adjustable
  color $button__text-color--dark
  background-color $button__background-color--dark
}

// disabled
.dark.mdui-state--disabled.mdui-button {
  // Adjustable
  color $button__disabled-text-color--dark
  background-color $button__disabled-background-color--dark
}




/*************************************************************************
 * Raised Button
 ************************************************************************/
.mdui-button--raised {
  box-shadow $shadow__dp2
}




/*************************************************************************
 * Flat Button
 ************************************************************************/
.mdui-button--flat {
  // Adjustable
  color $button__background-color
  // Fixed
  background-color transparent
  box-shadow $shadow__dp0
}

// pressed
.mdui-state--pressed.mdui-button--flat {
  box-shadow $shadow__dp0
}

// disabled
.mdui-state--disabled.mdui-button--flat,
.dark.mdui-state--disabled.mdui-button--flat {
  background-color transparent
}

/**
 * Dark
 */
.dark.mdui-button--flat {
  color $button__background-color--dark
  background-color transparent
}




/*************************************************************************
 * Floating Action Button
 ************************************************************************/
.mdui-button--fa {
  // Adjustable
  width $fa-button__size
  height $fa-button__size
  font-size $fa-button__icon-size
  // Fixed
  min-width auto
  border-radius 50%
  margin 0
  padding 0
  line-height normal
  box-shadow $shadow__dp2
}
.mdui-button--fa .mdui-button__text {
  display block
  width 100%
  height 100%
  position absolute
  top 0
  left 0
}
.mdui-button--fa .material-icons {
  // Adjustable
  width $fa-button__icon-size
  line-height $fa-button__icon-size
  transform translate($fa-button__icon-size * -0.5, $fa-button__icon-size * -0.5)
  // Fixed
  position absolute
  top 50%
  left 50%
}

// pressed
.mdui-state--pressed.mdui-button--fa {
  box-shadow $shadow__dp6
}




/*************************************************************************
 * Icon Button
 ************************************************************************/
.mdui-button--icon {
  // Adjustable
  width $icon-button__size
  height $icon-button__size
  font-size $icon-button__icon-size
  color $button__background-color
  background-color transparent
  // Fixed
  border-radius 50%
  margin-left 0
  margin-right 0
  min-width auto
  padding 0
  line-height normal
}
.mdui-button--icon .mdui-button__text {
  display block
  width 100%
  height 100%
  position absolute
  top 0
  left 0
}
.mdui-button--icon .material-icons {
  // Adjustable
  color $button__background-color
  width $icon-button__icon-size
  line-height $icon-button__icon-size
  transform translate($icon-button__icon-size * -0.5, $icon-button__icon-size * -0.5)
  // Fixed
  position absolute
  top 50%
  left 50%
}

// pressed
.mdui-state--pressed.mdui-button--icon {
  box-shadow $shadow__dp0
}

// disabled
.mdui-state--disabled.mdui-button--icon {
  // Adjustable
  background-color transparent
}
.mdui-state--disabled .material-icons {
  // Adjustable
  color $button__disabled-text-color
}

/**
 * Dark
 */
.dark.mdui-button--icon {
  // Adjustable
  color $button__background-color--dark
  background-color transparent
}
.dark.mdui-button--icon .material-icons {
  // Adjustable
  color $button__background-color--dark
}

// disabled
.dark.mdui-state--disabled.mdui-button--icon {
  // Adjustable
  background-color transparent
}
.dark.mdui-state--disabled .material-icons {
  // Adjustable
  color $button__disabled-text-color--dark
}




