.mdui-scroll {
  overflow hidden
  -webkit-tap-highlight-color rgba(0,0,0,0)
}

.mdui-scroll__outer-container {
  position absolute
  box-sizing border-box
  overflow hidden
  top 0
  left 0
  padding 0
}

.mdui-scroll__container {
  overflow scroll
  overflow-scrolling touch
  position absolute
  box-sizing border-box
  top 0
  left 0
}

.mdui-state--scroll {
  user-select none
}


.mdui-scroll__track {
  // Adjustable
  right $scroll__track-offset
  bottom $scroll__track-offset
  background-color $scroll__track-color
  // Fixed
  position absolute
  display block
  z-index 1
}
.dark .mdui-scroll__track {
  // Adjustable
  background-color $scroll__track-color--dark
}

.mdui-scroll__track--vertical {
  // Adjustable
  width $scroll__track-size
  top $scroll__track-offset
}

.mdui-scroll__track--horizontal {
  // Adjustable
  height $scroll__track-size
  left $scroll__track-offset
}


.mdui-scroll__handle {
  // Adjustable
  background-color $scroll__handle-color
  // Fixed
  position absolute
  top 0
  left 0
  display block
  cursor pointer
  border-radius inherit
  width 0
  height 0
}
.dark .mdui-scroll__handle {
  // Adjustable
  background-color $scroll__handle-color--dark
}

.mdui-scroll__track--vertical .mdui-scroll__handle {
  // Adjustable
  width $scroll__handle-size
  transform translateX( ($scroll__track-size - $scroll__handle-size) * 0.5 )
}
.mdui-scroll__track--horizontal .mdui-scroll__handle {
  // Adjustable
  height $scroll__handle-size
  transform translateY( ($scroll__track-size - $scroll__handle-size) * 0.5 )
}







