$color__amber          = #FFC107

$color__amber--50      = #FFF8E1
$color__amber--100     = #FFECB3
$color__amber--200     = #FFE082
$color__amber--300     = #FFD54F
$color__amber--400     = #FFCA28
$color__amber--500     = #FFC107
$color__amber--600     = #FFB300
$color__amber--700     = #FFA000
$color__amber--800     = #FF8F00
$color__amber--900     = #FF6F00

$color__amber--A100    = #FFE57F
$color__amber--A200    = #FFD740
$color__amber--A400    = #FFC400
$color__amber--A700    = #FFAB00
