$color__grey          = #607D8B

$color__grey--50      = #ECEFF1
$color__grey--100     = #CFD8DC
$color__grey--200     = #B0BEC5
$color__grey--300     = #90A4AE
$color__grey--400     = #78909C
$color__grey--500     = #607D8B
$color__grey--600     = #546E7A
$color__grey--700     = #455A64
$color__grey--800     = #37474F
$color__grey--900     = #263238