$color__blue          = #2196F3

$color__blue--50      = #E3F2FD
$color__blue--100     = #BBDEFB
$color__blue--200     = #90CAF9
$color__blue--300     = #64B5F6
$color__blue--400     = #42A5F5
$color__blue--500     = #2196F3
$color__blue--600     = #1E88E5
$color__blue--700     = #1976D2
$color__blue--800     = #1565C0
$color__blue--900     = #0D47A1

$color__blue--A100    = #82B1FF
$color__blue--A200    = #448AFF
$color__blue--A400    = #2979FF
$color__blue--A700    = #2962FF