$color__brown          = #795548

$color__brown--50      = #EFEBE9
$color__brown--100     = #D7CCC8
$color__brown--200     = #BCAAA4
$color__brown--300     = #A1887F
$color__brown--400     = #8D6E63
$color__brown--500     = #795548
$color__brown--600     = #6D4C41
$color__brown--700     = #5D4037
$color__brown--800     = #4E342E
$color__brown--900     = #3E2723