$color__cyan          = #00BCD4

$color__cyan--50      = #E0F7FA
$color__cyan--100     = #B2EBF2
$color__cyan--200     = #80DEEA
$color__cyan--300     = #4DD0E1
$color__cyan--400     = #26C6DA
$color__cyan--500     = #00BCD4
$color__cyan--600     = #00ACC1
$color__cyan--700     = #0097A7
$color__cyan--800     = #00838F
$color__cyan--900     = #006064

$color__cyan--A100    = #84FFFF
$color__cyan--A200    = #18FFFF
$color__cyan--A400    = #00E5FF
$color__cyan--A700    = #00B8D4