$color__orange          = #FF5722

$color__orange--50      = #FBE9E7
$color__orange--100     = #FFCCBC
$color__orange--200     = #FFAB91
$color__orange--300     = #FF8A65
$color__orange--400     = #FF7043
$color__orange--500     = #FF5722
$color__orange--600     = #F4511E
$color__orange--700     = #E64A19
$color__orange--800     = #D84315
$color__orange--900     = #BF360C

$color__orange--A100    = #FF9E80
$color__orange--A200    = #FF6E40
$color__orange--A400    = #FF3D00
$color__orange--A700    = #DD2C00