$color__purple          = #673AB7

$color__purple--50      = #EDE7F6
$color__purple--100     = #D1C4E9
$color__purple--200     = #B39DDB
$color__purple--300     = #9575CD
$color__purple--400     = #7E57C2
$color__purple--500     = #673AB7
$color__purple--600     = #5E35B1
$color__purple--700     = #512DA8
$color__purple--800     = #4527A0
$color__purple--900     = #311B92

$color__purple--A100    = #B388FF
$color__purple--A200    = #7C4DFF
$color__purple--A400    = #651FFF
$color__purple--A700    = #6200EA