$color__green          = #4CAF50

$color__green--50      = #E8F5E9
$color__green--100     = #C8E6C9
$color__green--200     = #A5D6A7
$color__green--300     = #81C784
$color__green--400     = #66BB6A
$color__green--500     = #4CAF50
$color__green--600     = #43A047
$color__green--700     = #388E3C
$color__green--800     = #2E7D32
$color__green--900     = #1B5E20

$color__green--A100    = #B9F6CA
$color__green--A200    = #69F0AE
$color__green--A400    = #00E676
$color__green--A700    = #00C853