$color__indigo          = #3F51B5

$color__indigo--50      = #E8EAF6
$color__indigo--100     = #C5CAE9
$color__indigo--200     = #9FA8DA
$color__indigo--300     = #7986CB
$color__indigo--400     = #5C6BC0
$color__indigo--500     = #3F51B5
$color__indigo--600     = #3949AB
$color__indigo--700     = #303F9F
$color__indigo--800     = #283593
$color__indigo--900     = #1A237E

$color__indigo--A100    = #8C9EFF
$color__indigo--A200    = #536DFE
$color__indigo--A400    = #3D5AFE
$color__indigo--A700    = #304FFE