$color__light-blue          = #03A9F4

$color__light-blue--50      = #E1F5FE
$color__light-blue--100     = #B3E5FC
$color__light-blue--200     = #81D4FA
$color__light-blue--300     = #4FC3F7
$color__light-blue--400     = #29B6F6
$color__light-blue--500     = #03A9F4
$color__light-blue--600     = #039BE5
$color__light-blue--700     = #0288D1
$color__light-blue--800     = #0277BD
$color__light-blue--900     = #01579B

$color__light-blue--A100    = #80D8FF
$color__light-blue--A200    = #40C4FF
$color__light-blue--A400    = #00B0FF
$color__light-blue--A700    = #0091EA