$color__lime          = #CDDC39

$color__lime--50      = #F9FBE7
$color__lime--100     = #F0F4C3
$color__lime--200     = #E6EE9C
$color__lime--300     = #DCE775
$color__lime--400     = #D4E157
$color__lime--500     = #CDDC39
$color__lime--600     = #C0CA33
$color__lime--700     = #AFB42B
$color__lime--800     = #9E9D24
$color__lime--900     = #827717

$color__lime--A100    = #F4FF81
$color__lime--A200    = #EEFF41
$color__lime--A400    = #C6FF00
$color__lime--A700    = #AEEA00
