$color__orange          = #FF9800

$color__orange--50      = #FFF3E0
$color__orange--100     = #FFE0B2
$color__orange--200     = #FFCC80
$color__orange--300     = #FFB74D
$color__orange--400     = #FFA726
$color__orange--500     = #FF9800
$color__orange--600     = #FB8C00
$color__orange--700     = #F57C00
$color__orange--800     = #EF6C00
$color__orange--900     = #E65100

$color__orange--A100    = #FFD180
$color__orange--A200    = #FFAB40
$color__orange--A400    = #FF9100
$color__orange--A700    = #FF6D00