$color__yellow          = #FFEB3B

$color__yellow--50      = #FFFDE7
$color__yellow--100     = #FFF9C4
$color__yellow--200     = #FFF59D
$color__yellow--300     = #FFF176
$color__yellow--400     = #FFEE58
$color__yellow--500     = #FFEB3B
$color__yellow--600     = #FDD835
$color__yellow--700     = #FBC02D
$color__yellow--800     = #F9A825
$color__yellow--900     = #F57F17

$color__yellow--A100    = #FFFF8D
$color__yellow--A200    = #FFFF00
$color__yellow--A400    = #FFEA00
$color__yellow--A700    = #FFD600